#searchform {
  margin-bottom: 5px;
}
#search{
  float: right;
}
.input-group{
  .dropdown_product_cat{
    background: none repeat scroll 0 0 #ececec;
    border: 0 none;
    border-radius:0 4px 4px 0 !important;
    height: 34px;
    width: auto;
    line-height: 2.3;
  }
 .form-control{
  font-size: 13px;
}
}
#commentform input[type=text] {
    width: 100%;
}
